body{
 background-color:#f0efe7;
 color: #4e443c; 
 font-family: 'BenchNine', sans-serif;
 font-size: 26px;
}
.wrapper{
  margin: 0 auto;
  width: 400px 
}
@media only screen and (min-width: 800px){
 .wrapper{
    width: 800px; 
  } 
}

header{
margin: 0;
margin-bottom: 1em;
padding: 0;
}
a {
 text-decoration: none;
 color: #ffcc99;
}

h1, h2, h3{
 padding: 0;
 margin: 0;
 text-align: left;
 position: relative;
}
h1{
  font-size: 2em;  
  color: #FF931E; 
}
h2{
  font-size: 1.5em;
  color: #f4b576;
  margin-top: -0.5em;
 
}
h3{
font-size: 1em;
margin-top: -0.4em;
}

#board{
	width: 396px;
	height: 396px;
	float: left;
	margin: 0em;
  border: 3px solid #4e443c;
  border: 3px solid #444444;
}
.grid{
	width: 44px;
	height: 44px;	
	float:left;	
	border: 1px solid #4e443c;
  margin: 0;
  padding:0;
  display: inline-block;
  text-align:center;  
  
  font-size: 1em;
}
#console{
	width: 380px;
	height: 396px;
	float: left;
	margin: 1em 0 0 16px;
  padding: 0;
}
@media only screen and (min-width: 800px){
  #console{
    margin: 0 0 0 16px; 
  } 
}
#console p{
  margin: 0 0 0 20px;
  padding: 0;
}
button{
  background: #4e443c none repeat scroll 0 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 5px 20px;
  padding: 5px;
  text-decoration: none;
}
#solveAll{
  background: #FF931E none repeat scroll 0 0;
  color: #4e443c;
}
select{
  background: #4e443c none repeat scroll 0 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 20px;
  padding: 5px;
  text-decoration: none;
}

#other{
  display: none;
}

hr{
  height: 0;
  margin: 10px;
  border-bottom: 1px solid #ccc;
  clear: both;
}
.solved{
	background: green;
	color: black;
}
.crossSolved{
	background: limegreen;
	color: black;
}
.highlight{
	background: black;
	color: white;
}
.presetSolved{
	background: #ccc;
	color: #000;
}
.userSolved{
	background: #cec;  
	color: #000;
}
.invalid{
	background: red;
}

